<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
        <Property name="searchSystemEnvironment" value="true" />
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %msg%n}"/>
        </Console>
        <RollingFile name="FileAppender" fileName="${env:log.file-path:-logs/sms_system_auto.log}"
                     filePattern="logs/log4j2-demo-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.meesho.smssystem" level="${env:LOG_PACKAGE_LEVEL:-warn}" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Root level="${env:logger.root.level:-INFO}">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>